@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --heading: hsla(0, 0%, 100%, 0.75);
  --paragraph: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 1055px;
  height: max-content;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.5rem;
  overflow: hidden;
  background-image: linear-gradient(
      to top,
      hsl(277deg 100% 35% / 40%),
      hsl(277deg 100% 35% / 40%)
    ),
    url(./images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
}

.heading {
  width: 50%;
  padding: 4.3rem;
}

h1 {
  color: var(--white);
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 span {
  color: var(--soft-violet);
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: var(--paragraph);
  line-height: 1.6rem;
  padding-right: 1.5rem;
}

.summary {
  width: 60%;
  padding: 0rem 4.5rem 4.5rem 4.5rem;
}

.summary ul {
  list-style: none;
}

.summary ul li {
  display: inline-block;
  margin-right: 1rem;
}

.summary ul li h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.summary ul li p {
  color: var(--paragraph);
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  main {
    width: 340px;
    height: 760px;
    background-position: top;
    background-size: 100% 250px;
  }

  .heading {
    width: 100%;
    margin-top: 270px;
    padding: 0 0.5rem;
    text-align: center;
  }

  .heading p {
    text-align: center;
    padding: 0 2rem;
  }

  .summary {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
  }

  .summary ul li {
    display: block;
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .summary ul li p {
    padding: 0;
  }

  .summary ul li h2 {
    text-align: center;
    padding-bottom: 0;
  }
}
